/* Style for the Gallery Section */
#gallery {
    text-align: center;
    padding: 40px;
}

#gallery h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* #gallery p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
} */

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

@media screen and (max-width: 800px) and (min-width: 635px) {
    .gallery-item img {
        max-width: 100%;
        max-height: 80%; /* Adjust the height here as needed */
        width: auto;
        height: auto;
        display: block;
        transition: transform 0.3s ease;
    }
}

@media screen and (max-width: 635px) {
    .gallery-grid {
        grid-template-columns: repeat(1, 1fr); /* Change to a single column layout */
    }
}

@media screen and (max-width: 600px) {
    .gallery-item img {
        max-width: 100%;
        max-height: 30%; /* Adjust the height here as needed */
        width: auto;
        height: 200px;
        display: block;
        transition: transform 0.3s ease;
    }
}

.gallery-item p {
    font-size: 1rem;
    color: black;
    font-size: 18px;
    margin-top: 10px;
}

.show_more{
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.gallery-item img {
    max-width: 100%;
    width:400px;
    max-height: 100%;
    border: 4px solid white;
    border-radius: 10px;

    height: 300px;
    display: block;
    transition: transform 0.3s ease;
}


.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Add media queries for responsiveness if needed */
header {
    background-color: rgb(13, 2, 46);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.logo img {
    width: 100px; 
    height: auto;
}

#gallery {
    background-color: #23c7e8; /* Replace with the color of your choice */
    padding: 20px; /* Add padding for spacing around the images */
}